"*":
  "copy-as-rtf":
    fontface: "Fira Code"
    fontsize: 10
  "copy-with-style":
    preset1:
      font_family: "Fira Code"
      format: "RTF"
      name: "copy_as_html"
  core:
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 12
  "exception-reporting":
    userId: "a1e0aaed-1aa3-928c-30d1-700727d9ec25"
  "filter-lines":
    cozy: true
  firacode:
    scopes: [
      "*"
    ]
  fonts: {}
  "plantuml-preview":
    jarLocation: "/usr/local/Cellar/plantuml/1.2017.14/libexec/plantuml.jar"
  welcome:
    showOnStartup: false
